[submodule "evalquiz-proto"]
	path = evalquiz_proto
	url = git@github.com:MEITREX/evalquiz-proto.git
[submodule "actions/sphinx-notes"]
	path = actions/sphinx-notes
	url = https://github.com/sphinx-notes/pages
